@model MotorcycleNewb.Models.ProfileViewModel

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to the MotorcycleNewb Forum!</h1>
    <p class="lead">Please abide by community rules. This forum is reviewed by moderators. Please click the button below for further details.</p>
</div>

<div class="col-md-12">
    @if (Model.IsThisUser)
    {
        using (Html.BeginForm("UploadPost", "Forum", FormMethod.Post, new { @class = "form-write-post" }))
        {
            @Html.AntiForgeryToken()
            <section>
                @Html.TextArea("PostContent", "", 3, 20, new { @class = "form-control", @placeholder = "Ask the community!" })
                @Html.Hidden("page", Model.CurrentView)
                <input type="submit" value="Post" class="btn btn-primary" />
            </section>
        }
    }
    @Html.Partial("PostComments", Model.Posts, new ViewDataDictionary { { "Domain", Model.CurrentView } })
</div>