@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2 class="col-md-offset-3">So what's MotorcycleNewb about anyway?</h2>

    <p>From the first time you twisted the throttle full-bore to the first time you hit the mountain back roads, there’s something undeniably special about motorcycling. There’s nothing else quite like it, and there’s no better way to connect with the road.</p>

    <p>Our philosphy is simple, get more motorcycles on the streets and help beginners find their way!</p>

    <div class="col-md-12">
        <blockquote class="blockquote text-center col-md-4">
            <p class="mb-0">The lads are great craic.</p>
            <footer class="blockquote-footer">Anonymous <cite title="Source Title">AutoTrader.ie</cite></footer>
        </blockquote>
        <blockquote class="blockquote text-center col-md-4">
            <p class="mb-0">Your first stop for motorcycling info when starting out.</p>
            <footer class="blockquote-footer">Joe Bloggs <cite title="Source Title">The Irish Times</cite></footer>
        </blockquote>
        <blockquote class="blockquote text-center col-md-4">
            <p class="mb-0">Makes me want to move to Ireland.</p>
            <footer class="blockquote-footer">Valentino Rossi - Italian professional motorcycle road racer and multiple MotoGP World Champion</footer>
        </blockquote>
    </div>
</div>