@model MotorcycleNewb.Models.ProfileViewModel

@{
    ViewBag.Title = "ChangeMotorcycleImage";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2 class="col-md-offset-4">Change Motorcycle Photo</h2>

@using (Html.BeginForm("ChangeMotorcycleImage", "Profiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="col-md-12">

        <div class="form-group col-md-offset-4">
            <div>
                <input class="form-control" accept="image/x-png, image/gif, image/jpeg" type="file" name="upload" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Select an image of your motorcycle from your device.</small>
            </div>
        </div>
        <div class="form-group col-md-offset-4">
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}