@model MotorcycleNewb.Models.ProfileViewModel

@{
    ViewBag.Title = "ChangeProfileImage";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2 class="col-md-offset-4">Change Profile Photo</h2>

@using (Html.BeginForm("ChangeProfileImage", "Profiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="col-md-12">

        <div class="form-group col-md-offset-4">

            <div>

                <input accept="image/x-png, image/gif, image/jpeg" type="file" name="upload" />

            </div>
        </div>
        <div class="form-group col-md-offset-4">
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
